<% provide(:title, 'ユーザー登録') %>
<div class="loginwrapper">
      <h1>新規ユーザ作成</h1>
      <%= form_with(model: @user, url: signup_path, local: true) do |form| %>
        <%= render 'shared/error_messages' %>

        <div class="formbox">
          <%= form.text_field :name, class: 'form-control', placeholder: "名前" %>
        </div>

        <div class="formbox">
          <%= form.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>
        </div>

        <div class="formbox">
          <%= form.password_field :password, class: 'form-control', placeholder: "パスワード" %>
        </div>

        <div class="formbox">
          <%= form.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード（再入力）" %>
        </div>

        <div>
          <%= form.submit "新規ユーザ作成", class: "loginbtn" %>
        </div>
      <% end %>
</div>
